.body {
  width: 90%;
  margin: auto;
}

.navbar {
  visibility: hidden;
}

.title {
  display: flex;
  width: 80%;
  padding-top: 100px;
  z-index: -1;
  margin: auto;
  margin-bottom: 70px;
}

.title .title__headline-container {
  width: 745px;
  margin-right: 80px;
  margin-top: 90px;
}

.title .title__headline-container .headline-container__wiktor {
  padding-top: 10px;
  color: #1F1F1F;
  font-family: "EB Garamond";
  font-size: 156px;
  margin-bottom: -60px;
  margin-top: 40px;
  width: 600px;
  margin-left: 40px;
  font-weight: normal;
}

.title .title__headline-container .headline-container__ruszkiewicz {
  color: #1F1F1F;
  font-family: "EB Garamond";
  font-size: 156px;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 600px;
  font-weight: normal;
}

.title .title__headline-container .headline-container__sub-title {
  width: 451px;
  color: #666666;
  font-family: "EB Garamond";
  font-size: 25px;
  font-style: italic;
  line-height: 30px;
  margin-top: 0px;
  margin-right: 60px;
  width: 480px;
  font-weight: normal;
  margin-left: 90px;
}

.title .title__image-container {
  height: 768px;
}

.title .title__image-container .image-container__ja {
  height: 768px;
  width: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title .title__image-container .image-container__text {
  position: absolute;
  color: #999999;
  font-family: Lato;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 237px;
  z-index: 1;
  color: black;
}

.article {
  margin: auto;
  width: 950px;
}

.article .article__section-one {
  margin: auto;
  width: 200px;
  height: 400px;
  width: 655px;
  color: #1F1F1F;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 200px;
}

.article .article__section-two {
  float: center;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
}

.article .article__section-two .section-two__q-img {
  margin: auto -60px;
  z-index: -1;
  height: 60px;
  width: 74px;
  margin-top: 35px;
  margin-bottom: 12px;
}

.article .article__section-two .section-two__q-text {
  height: 141px;
  color: #AF8948;
  font-family: "EB Garamond";
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
  margin-left: 38px;
}

.article .article__section-two .section-two__q-person {
  height: 13px;
  width: 417px;
  color: #1F1F1F;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.article .article__section-three {
  margin: auto;
  width: 200px;
  height: 400px;
  width: 655px;
  color: #1F1F1F;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  padding-top: 30px;
  z-index: -1;
  margin-bottom: -30px;
}

.article .article__section-four {
  display: flex;
  width: 950px;
  margin: auto;
  margin-bottom: 300px;
}

.article .article__section-four .section-four__img-container .img-container__img-ja2 {
  border-radius: 10px;
  width: 420px;
  height: 600px;
  margin-right: 38px;
  margin-top: 90px;
}

.article .article__section-four .section-four__img-container .img-container__description {
  position: absolute;
  color: #999999;
  font-family: Lato;
  font-size: 12px;
}

.article .article__section-four .section-four__wiktor-programista-container {
  margin-left: 70px;
  width: 200px;
  height: 400px;
  width: 450px;
  color: #1F1F1F;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
}

.article .article__section-four .section-four__wiktor-programista-container .wiktor-programista__title {
  width: 400px;
  color: #1F1F1F;
  font-family: "EB Garamond";
  font-size: 40px;
  font-weight: bolder;
  margin-top: -50px;
}

.slider-container {
  margin: auto;
  display: flex;
  margin-bottom: 120px;
  width: 1050px;
}

.slider-container .slider-container__lists {
  margin: auto;
  display: flex;
}

.slider-container .slider-container__lists .lists__dates {
  list-style-type: none;
  margin-right: -90px;
  font-size: 12px;
  font-family: Lato;
  color: grey;
  font-weight: normal;
  line-height: 16pt;
  z-index: 1;
}

.slider-container .slider-container__lists .lists__dates .date-btn-1, .slider-container .slider-container__lists .lists__dates .date-btn-2, .slider-container .slider-container__lists .lists__dates .date-btn-3, .slider-container .slider-container__lists .lists__dates .date-btn-4, .slider-container .slider-container__lists .lists__dates .date-btn-5, .slider-container .slider-container__lists .lists__dates .date-btn-6, .slider-container .slider-container__lists .lists__dates .date-btn-7 {
  border: none;
  background: transparent;
  outline: none;
  font-size: 12px;
  font-family: Lato;
  color: grey;
}

.slider-container .slider-container__lists .lists__signs {
  list-style-type: none;
  margin-right: 25px;
  font-size: 12px;
  font-family: Lato;
  font-weight: normal;
  z-index: -1;
}

.slider-container .slider-container__lists .lists__signs .sign-1, .slider-container .slider-container__lists .lists__signs .sign-2, .slider-container .slider-container__lists .lists__signs .sign-3, .slider-container .slider-container__lists .lists__signs .sign-4, .slider-container .slider-container__lists .lists__signs .sign-5, .slider-container .slider-container__lists .lists__signs .sign-6, .slider-container .slider-container__lists .lists__signs .sign-7 {
  background-color: #ffffff;
  height: 10px;
  width: 60px;
  margin-top: 11px;
}

.slider-container .slider-container__slider {
  width: 100%;
}

.slider-container .slider-container__slider .slider__key-events {
  display: flex;
  width: 100%;
  height: 90px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__title {
  border-right: #AF8948 solid 2px;
  flex-direction: column;
  width: 160px;
  color: #1F1F1F;
  font-family: Lato;
  font-size: 23px;
  margin: auto;
  margin-left: 0;
  padding: 5px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__discription {
  flex-direction: column;
  margin: auto;
  margin-left: 20px;
  float: left;
  font-family: Lato;
  font-size: 14px;
  width: 160px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows {
  display: flex;
  margin: auto;
  margin-left: 350px;
  width: 170px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__left-cont {
  margin-left: 0px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__left-cont .left-cont__arrow {
  background-color: #d3d3d3;
  height: 55px;
  width: 55px;
  margin-left: 20px;
  border: solid white;
  outline: none;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__left-cont .left-cont__arrow:hover {
  animation: ploomLeft 0.5s forwards;
}

@keyframes ploomLeft {
  0% {
    padding-right: 5px;
  }
  100% {
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 15px;
  }
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__left-cont .left-cont__arrow .icon {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 3px;
  margin-left: 2px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__left-cont .left-cont__arrow .left {
  transform: rotate(135deg);
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__right-cont {
  margin-left: 10px;
  border: none;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__right-cont .right-cont__arrow {
  background-color: #8BB0AF;
  height: 55px;
  width: 55px;
  border: solid white;
  outline: none;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__right-cont .right-cont__arrow:hover {
  animation: ploomRight 0.5s forwards;
}

@keyframes ploomRight {
  0% {
    padding-left: 5px;
  }
  100% {
    padding-left: 15px;
    margin-left: 15px;
  }
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__right-cont .right-cont__arrow .icon {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 3px;
  margin-right: 2px;
}

.slider-container .slider-container__slider .slider__key-events .key-events__arrows .arrows__right-cont .right-cont__arrow .right {
  transform: rotate(-45deg);
}

.slider-container .slider-container__slider .slider__pictures-container {
  display: flex;
}

.slider-container .slider-container__slider .slider__pictures-container #pic {
  margin-left: 100px;
  height: 380px;
  width: 580px;
  margin-right: -60px;
  opacity: 1;
}

.slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box {
  border: #414040 solid 1px;
  width: 310px;
  height: 230px;
  margin-top: 200px;
  z-index: 1;
  background-color: #2B2B2B;
}

.slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__title {
  border-bottom: #8BB0AF solid 2px;
  height: 50px;
  width: 55px;
  color: #FFFFFF;
  font-family: "EB Garamond";
  font-size: 28px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 25px;
  margin-top: 30px;
}

.slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 15px;
  line-height: 25px;
  height: 100px;
  width: 270px;
  margin: auto;
  margin-left: 25px;
}

.slider-container .slider-container__slider .slider__pic-decription {
  margin-top: -35px;
  color: #999999;
  font-family: Lato;
  font-size: 12px;
  margin-left: 100px;
}

.slider-container .slider-container__slider .slider__elipses {
  margin-right: 380px;
  margin-top: 70px;
  margin-left: 290px;
  display: flex;
}

.slider-container .slider-container__slider .slider__elipses .eli-1, .slider-container .slider-container__slider .slider__elipses .eli-2, .slider-container .slider-container__slider .slider__elipses .eli-3, .slider-container .slider-container__slider .slider__elipses .eli-4, .slider-container .slider-container__slider .slider__elipses .eli-5, .slider-container .slider-container__slider .slider__elipses .eli-6, .slider-container .slider-container__slider .slider__elipses .eli-7 {
  border: black solid 0.1px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 13px;
}

.footer {
  background-color: #2B2B2B;
  border: white solid 0.1px;
  color: white;
  height: 71px;
  width: 1400px;
  margin: auto;
  align-content: center;
}

.footer .footer__text {
  padding-top: 15px;
  height: 14px;
  color: #F9F8F6;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  .footer {
    width: 1070px;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: auto;
    zoom: 0.7;
  }
  .title {
    zoom: 0.7;
    width: auto;
    margin: auto;
    margin-bottom: 100px;
    flex-direction: column;
    margin-top: -200px;
  }
  .title .title__headline-container {
    margin: auto;
    margin-top: 90px;
  }
  .title .title__headline-container .headline-container__sub-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title .title__image-container {
    margin: auto;
    margin-top: 20px;
  }
  .title .title__image-container .image-container__text {
    font-size: 20px;
  }
  .article {
    margin: auto;
    width: 0px;
    margin: auto;
  }
  .article .article__section-one {
    margin-bottom: 350px;
    width: 500px;
    margin-left: -250px;
  }
  .article .article__section-two {
    width: 500px;
    margin-left: -250px;
  }
  .article .article__section-two .section-two__q-text {
    font-size: 38px;
  }
  .article .article__section-two .section-two__q-person {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .article .article__section-three {
    margin-bottom: -40px;
    width: 500px;
    margin-left: -250px;
  }
  .article .article__section-four {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 550px;
    width: 500px;
  }
  .article .article__section-four .section-four__img-container .img-container__img-ja2 {
    margin: auto;
    margin-top: 0px;
    zoom: 0.8;
    margin-left: -210px;
    width: 400px;
  }
  .article .article__section-four .section-four__img-container .img-container__description {
    font-size: 16px;
    margin-left: -250px;
  }
  .article .article__section-four .section-four__wiktor-programista-container {
    margin-left: 0px;
    width: 500px;
    margin-left: -250px;
  }
  .article .article__section-four .section-four__wiktor-programista-container .wiktor-programista__title {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .slider-container {
    width: 650px;
    margin-top: 600px;
  }
  .slider-container .slider-container__lists {
    margin-right: -10px;
  }
  .slider-container .slider-container__lists .lists__dates {
    margin-left: -30px;
    margin-top: 0px;
  }
  .slider-container .slider-container__lists .lists__dates .date-btn-1, .slider-container .slider-container__lists .lists__dates .date-btn-2, .slider-container .slider-container__lists .lists__dates .date-btn-3, .slider-container .slider-container__lists .lists__dates .date-btn-4, .slider-container .slider-container__lists .lists__dates .date-btn-5, .slider-container .slider-container__lists .lists__dates .date-btn-6, .slider-container .slider-container__lists .lists__dates .date-btn-7 {
    font-size: 14px;
  }
  .slider-container .slider-container__lists .lists__signs {
    margin-top: 0px;
  }
  .slider-container .slider-container__slider .slider__key-events {
    margin-left: -80px;
    margin-bottom: 20px;
  }
  .slider-container .slider-container__slider .slider__key-events .key-events__arrows {
    margin-left: 50px;
  }
  .slider-container .slider-container__slider .slider__pictures-container #pic {
    zoom: 0.8;
    margin-left: 0px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box {
    zoom: 0.9;
    margin-top: 290px;
    margin-left: -230px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__title {
    font-size: 26px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__text {
    font-size: 16px;
  }
  .slider-container .slider-container__slider .slider__pic-decription {
    font-size: 14px;
    margin-top: -155px;
    margin-left: 0px;
  }
  .slider-container .slider-container__slider .slider__elipses {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .footer {
    width: 600px;
  }
  .footer .footer__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1600px) {
  .body {
    zoom: 0.9;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 1300px) {
  body {
    zoom: 0.8;
    margin-top: -20px;
  }
  .title {
    zoom: 0.8;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    zoom: 0.6;
  }
  .article {
    zoom: 0.8;
  }
  .slider-container {
    zoom: 0.8;
  }
  .footer {
    zoom: 0.8;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: auto;
    zoom: 0.6;
  }
  .title {
    zoom: 0.5;
    width: auto;
    margin: auto;
    margin-bottom: 100px;
    flex-direction: column;
    margin-top: -200px;
  }
  .title .title__headline-container {
    margin: auto;
    margin-top: 90px;
  }
  .title .title__headline-container .headline-container__sub-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title .title__image-container {
    margin: auto;
    margin-top: 20px;
  }
  .title .title__image-container .image-container__text {
    font-size: 20px;
  }
  .article {
    width: 0px;
    margin-left: 250px;
  }
  .article .article__section-one {
    margin-bottom: 550px;
    width: 400px;
    margin-right: 250px;
  }
  .article .article__section-two {
    width: 400px;
    margin-right: 50px;
  }
  .article .article__section-two .section-two__q-text {
    font-size: 38px;
  }
  .article .article__section-two .section-two__q-person {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .article .article__section-three {
    margin-bottom: -40px;
    width: 400px;
    margin-right: 50px;
  }
  .article .article__section-four {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 550px;
    width: 400px;
  }
  .article .article__section-four .section-four__img-container .img-container__img-ja2 {
    margin: auto;
    margin-top: 100px;
    zoom: 0.8;
    margin-left: -210px;
    width: 400px;
    margin-right: 50px;
  }
  .article .article__section-four .section-four__img-container .img-container__description {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 50px;
  }
  .article .article__section-four .section-four__wiktor-programista-container {
    margin-left: 0px;
    width: 400px;
    margin-left: -250px;
    margin-right: 50px;
  }
  .article .article__section-four .section-four__wiktor-programista-container .wiktor-programista__title {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .slider-container {
    zoom: 0.5;
    width: 650px;
    margin-top: 900px;
  }
  .slider-container .slider-container__lists {
    margin-right: -10px;
  }
  .slider-container .slider-container__lists .lists__dates {
    margin-left: -30px;
    margin-top: 0px;
  }
  .slider-container .slider-container__lists .lists__dates .date-btn-1, .slider-container .slider-container__lists .lists__dates .date-btn-2, .slider-container .slider-container__lists .lists__dates .date-btn-3, .slider-container .slider-container__lists .lists__dates .date-btn-4, .slider-container .slider-container__lists .lists__dates .date-btn-5, .slider-container .slider-container__lists .lists__dates .date-btn-6, .slider-container .slider-container__lists .lists__dates .date-btn-7 {
    font-size: 14px;
  }
  .slider-container .slider-container__lists .lists__signs {
    margin-top: 0px;
  }
  .slider-container .slider-container__slider .slider__key-events {
    margin-left: -80px;
    margin-bottom: 20px;
  }
  .slider-container .slider-container__slider .slider__key-events .key-events__arrows {
    margin-left: 50px;
  }
  .slider-container .slider-container__slider .slider__pictures-container #pic {
    zoom: 0.8;
    margin-left: 0px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box {
    zoom: 0.9;
    margin-top: 290px;
    margin-left: -230px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__title {
    font-size: 26px;
  }
  .slider-container .slider-container__slider .slider__pictures-container .pictures-container__history-box .history-box__text {
    font-size: 16px;
  }
  .slider-container .slider-container__slider .slider__pic-decription {
    font-size: 14px;
    margin-top: -155px;
    margin-left: 0px;
  }
  .slider-container .slider-container__slider .slider__elipses {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .footer {
    width: 400px;
  }
  .footer .footer__text {
    font-size: 16px;
    padding-top: 0px;
  }
}
